.history-container{
    width: 250px;
}

li {
    margin-top:10px;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.del-button {
    margin-left: 30px;
    padding: 10px;
    cursor: pointer;
    border-radius: 12px;
    background-color: #898AC4;
}

.del-button:hover{
    background-color: red;
}

.latin-result {
  font-style: italic;
  font-size: 0.9rem;
  color: #666;
  margin-top: 4px;
  margin-left: 8px;
}

.left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


