.history-container{
    width: 250px;
}

li {
    margin-top:10px;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 10px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.del-button {
    margin-left: 30px;
    padding: 10px;
    cursor: pointer;
}

.del-button:hover{
    background-color: red;
}
